---
const navItems = [
  {
    title: "Experiencia",
    label: "experience",
    url: "/#experience",
  },
  {
    title: "Proyectos",
    label: "projects",
    url: "/#projects",
  },
  {
    title: "Sobre mí",
    label: "about",
    url: "/#about",
  },
  {
    title: "Contacto",
    label: "contact",
    url: "/#contat",
  },
];
---

<header class="flex items-center justify-center w-full mx-auto mt-2">
  <nav class="flex flex-row text-sm font-medium px-3 opacity-80">
    {
      navItems.map((element) => (
        <a class="px-2 py-2 block relative" href={element.url}>
          {element.title}
        </a>
      ))
    }
  </nav>
</header>
